<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.javakechenxiangmu.dao.TreeMapper">

    <!--嵌套结果查询按照id-->
    <select id="getTreeByUserId" parameterType="Integer" resultMap = "treeInfo">
        select t.*, u.id as u_id, u.name, u.password,u.age,u.date,u.open_id
        from tree t, user u
        where u.id=t.user_id and u.id= #{id}
    </select>
    <select id="selectByuserId" parameterType="Integer" resultMap = "treeInfo">
        select life from tree
    </select>
    <resultMap id="treeInfo" type="Tree">
        <id property="id" column="id"/>
        <result property="name" column="tree_name"/>
        <result property="life" column="life"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="time" column="time"/>

        <collection property="user" ofType="User">
            <id property="id" column="u_id"/>
            <result property="name" column="name"/>
            <result property="password" column="password"/>
            <result property="age" column="age"/>
            <result property="date" column="date"/>
            <result property="openId" column="open_id"/>
            <result property="sessionId" column="session_id"/>
            <result property="sessionKey" column="session_key"/>
        </collection>
    </resultMap>

    <insert id="planTree" parameterType="com.example.javakechenxiangmu.model.TreeMod">
        insert into tree (tree_name,user_id,life,longitude,latitude,time)
        values (#{name},#{userId},#{life},#{longitude},#{latitude},#{time})
    </insert>
    <select id="getAroundTree" resultMap="treeInfo">
    select t.*, u.id as u_id, u.name, u.password,u.age,u.date,u.open_id,u.session_id
    from tree t,user u
    where t.user_id = u.id
    and (t.latitude between (#{lat}-0.01) and (#{lat}+0.01))
    and (t.longitude between (#{lon}-0.01) and (#{lon}+0.01))
    </select>


    <update id="updateLife">
        update tree set life = life + #{life} where id = #{id}
    </update>
    <!--    大括号的life和id是treeMapper中的别名-->

    <select id="getTreeInfosessionId" parameterType="String" resultMap = "getTreeInfosessionIdMap">
        select t.*, u.id as u_id, u.name, u.password,u.age,u.date,u.open_id,u.session_id
        from tree t, user u
        where u.id=t.user_id and u.session_id= #{sessinId}
    </select>
    <resultMap id="getTreeInfosessionIdMap" type="com.example.javakechenxiangmu.entity.Tree">
        <id property="id" column="id"/>
        <result property="name" column="tree_name"/>
        <result property="life" column="life"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="time" column="time"/>

        <collection property="user" ofType="User">
            <id property="id" column="u_id"/>
            <result property="name" column="name"/>
            <result property="password" column="password"/>
            <result property="age" column="age"/>
            <result property="date" column="date"/>
            <result property="openId" column="open_id"/>
            <result property="sessionId" column="session_id"/>
            <result property="sessionKey" column="session_key"/>
        </collection>
    </resultMap>

</mapper>

