<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.javakechenxiangmu.dao.WaterMapper">

    <resultMap id="waterTree" type="com.example.javakechenxiangmu.entity.Water">
        <id property="id" column="id"/>
        <result property="user_id" column="userId"/>
        <result property="tree_id" column="treeId"/>
        <result property="time" column="time"/>
        <result property="water" column="water"/>
    </resultMap>

    <select id="getWater" resultMap="waterTree">
        select *from water
        where user_id = #{userId} and date(time) = date(#{date})
    </select>

    <insert id="insertWater" parameterType="com.example.javakechenxiangmu.entity.Water">
        insert into water (user_id, tree_id, time, water)
        values( #{userId}, #{treeId}, #{time}, #{water})
    </insert>

</mapper>
